<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin_home.css">       
    <title>Document</title>
</head>
<body>
    <div id="main-container">
        <div id="welcome-div">
            <h1>Welcome, <%= thisUser.name %></h1>
        </div>
        <div id="form-container-addEmp">
            <ul>
                <form action="/admins/add-employee" method="POST">
                    <li>
                        <input class="input-add-emp" type="text" name="name" placeholder="Your Name" required>
   
                        <input class="input-add-emp" type="email" name="email" placeholder="Your Email" required>
 
                        <input class="input-add-emp" type="password" name="password" placeholder="Password" required>

                        <input class="input-add-emp" type="password" name="confirm_password" placeholder="Confirm Password" required>

                        <input id="input-add-emp-button" type="submit" value="Add Employee">
                    </li>
                </form>
            </ul>
        </div>
        <!--  -->
        <div id="user-list-container">
            <h1>Employees' Table</h1>
            <table>
                <tr>
                    <th>Name</th><th>Email</th><th>Password</th><th>Delete</th><th>Admin</th>
                </tr>
                <% for(let i = 0; i<users.length; i++){ %>
                <tr>
                    <td>
                        <%= user[i].name %>
                    </td>
                    <td>
                        <%= user[i].email %>
                    </td>
                    <td>
                        <%= user[i].password %>
                    </td>
                    <td>
                        <%if (user[i].isAdmin== false){ %>
                            <form action="/admins/remove-emp/<%= user[i].id %>" method="get">
                                <input class="admin-btn" type="submit" value="Delete">
                            </form>
                        <%}%>
                    </td>
                    <td>
                        <%if (user[i].isAdmin){ %>
                            <form action="/admins/update-emp/<%= user[i].id %>" method="post">
                                <input class="admin-btn" type="submit" value="RemoveAdmin">
                            </form>
                        <%}else{%>
                            <form action="/admins/update-emp/<%= user[i].id %>" method="post">
                                <input class="admin-btn" type="submit" value="MakeAdmin">
                            </form>
                        <%}%>
                    </td>
                </tr>
                <%}%>
            </table>
            
            
        </div>
        <!--  -->
        <div id="review-container">
            <!-- <label for="review-select"></label> -->
            <h1>Assign review</h1>
            <form action="/admins/assign-review" method="post">
                <select class="select-user" name="userX" id="review-select">
                    <option value=""> Choose Employee to review </option>
                    <% for(let i = 0; i<user.length; i++){ %>
                        <li>
                            <option value="<%= user[i].id %>"><%= user[i].name %></option>
                        </li>
                    <%}%>
                </select>
                <select class="select-user" name="userY" id="review-select">
                    <option value=""> Choose Employee to be reviewed </option>
                    <% for(let i = 0; i<user.length; i++){ %>
                        <li>
                            <option value="<%= user[i].id %>"><%= user[i].name %></option>
                        </li>
                    <%}%>
                </select>
                    
                <input id="input-assign-button" type="submit" value="Assign Review">
            </form>
        </div>
        <!--  -->
        <div id="performance-table">
            <h1>Review Table</h1>
            <table border="true">
                <tr>
                    <th>Assigned By</th>
                    <th>Assigned To</th>
                    <th>Assigned Review(KYA)</th>
                </tr>
                <% for(let i = 0; i<users.length; i++){ %>
                    <%if(users[i][0].isAdmin == false){%>
                    <tr>
                        <td>
                                <%= users[i][0].name %>
                        </td>
                        <td>
                                <% for(let j = 0; j<users[i][0].assignedto.length; j++){ %>
                                    <p><%= users[i][0].assignedto[j].name %></p>
                                <%}%>
                        </td>
                        <td>
                            <% for(let j = 1; j<users[i].length; j++){ %>
                                <p><%= users[i][j].description %></p>
                            <%}%>
                        </td>
                    </tr>
                    <%}%>
                <%}%>
            </table>
        </div>
        <!--  -->
    </div>
</body>
</html>