<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="top-div">
        <h1>Admin</h1>
        <h1><%= user.name %><%= user._id %></h1>
        <a href="/admins/view-emp">View Employee</a>
        <a href="/admins/remove-emp/id">remove Employee</a>
    </div>
    

    <div id="list-users">
        <ul>
            <%= console.log("sadasdasdwqaefds"+users.length) %>
            <% for(let i = 0; i<users.length; i++){ %>
                <li>
                    <%= users[i].name %>
                    <%if (users[i].isAdmin){ %>
                        <small>(admin)</small>
                        <form action="/admins/update-emp/<%= users[i].id %>" method="post">
                            <input type="submit" value="RemoveAdmin">
                        </form>
                    <%}else{%>
                        <form action="/admins/update-emp/<%= users[i].id %>" method="post">
                            <input type="submit" value="MakeAdmin">
                        </form>
                        <a href="/admins/remove-emp/<%= users[i].id %>">Delete Employee</a>
                    <%}%>
                </li>
            <%}%>
        </ul>
    </div>

    <div id="review">
        <label for="pet-select">Employee to review:</label>
            
                <form action="/admins/assign-review" method="post">

                    <select name="userX" id="pet-select">
                    <option value="">--Please choose an option--</option>
                    <% for(let i = 0; i<users.length; i++){ %>
                            <li>
                                <option value="<%= users[i].id %>"><%= users[i].name %></option>
                            </li>
                    <%}%>
                    </select>
                    
                    <select name="userY" id="pet-select">
                    <option value="">--Please choose an option--</option>
                    <% for(let i = 0; i<users.length; i++){ %>
                            <li>
                                <option value="<%= users[i].id %>"><%= users[i].name %></option>
                            </li>
                    <%}%>
                    </select>
                        
                    <input type="submit" value="AssignReview">
                </form>
    </div>

    <div id="performance-table">
        <table border="true">
            <tr>
                <th>name</th>
                <th>isAdmin</th>
                <th>assignedto</th>
                <th>assignedReview</th>

            </tr>
        <% for(let i = 0; i<users.length; i++){ %>
            
            <tr>
                <td>
                    <%= users[i].name %>
                </td>
                <td>
                    <%= users[i].isAdmin %>
                </td>
                <td>
                    <%= users[i].assignedto %>
                </td>
                <td>
                    <%= users[i].assignedReview %>
                </td>
                
            </tr>
        <%}%>
    </table>
    </div>
</body>
</body>
</html>